#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form-control {
  color: #000 !important;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.container {
  min-height: 100vh; /* full viewport height */
  display: flex;
  justify-content: center;
  align-items: center; /* vertically center the card */
  background-color: #242424; /* match background */
  padding: 0;
}


input.custom-input.form-control {
  border: none !important;
  border-bottom: 1px solid #ddd !important;
  border-radius: 0 !important;
  padding: 0.5rem 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  font-size: 1rem !important;
  color: #212529 !important;
}

input.custom-input.form-control:focus {
  border-bottom: 2px solid #0d6efd !important;
  outline: none !important;
  box-shadow: none !important;
}

